* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}
.container {
  padding: 24px;
  max-width: 1440px;
  margin: auto;
}
/*CONTEUDO DE CIMA*/
.upper-content h1 {
  font-size: 23px;
  padding-bottom: 8px;
  color: hsl(230, 17%, 14%);
}
.upper-content p {
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  padding-bottom: 16px;
}
.horizontal-line {
  border: none;
  border-top: 1px solid hsl(228, 12%, 44%, 0.5);
}
